---
# Set up HS connections
matrix:
- name: matrix-org
  url: https://matrix.org
  access_token: <token>
  device_id: <device>

# Set up notification ingress rules
rules:
- name: hq             # Name of the rule
  room: #hq:matrix.org # Room or ID
  matrix: matrix-org   # The Matrix HS to use - defaults to first one
  image: true          # Attach image to the notification?
  embed_image: true    # Upload and embed the image into the message?

# To use the webhook, you need to configure it into Grafana as:
#
# Url: http://example.com/hook?rule=<rule name>
# Http Method: POST
